/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/out.xml
/out.txt
/mdqt_cache.log
*.gem
/ukfederation-mdq.pem
/mdq-beta-cert.pem
/out
/xout
out*.xml
/.idea
/*.xml
/bt
*.html
